body {
    background-color: #EAF6F6;
}


hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 10%;
    border-right:


}

h1 {
    color: #66BFBF;
}

h3 {
    color: grey;
}

/*
#circular {
    border-radius: 100px;
}
*/
